.dragDropUpload {
  cursor: pointer;
  margin: 20px 0;
  border: 5px dashed green;
  background-color: #f7fff7;
  padding: 50px;
  color: green;

  &:focus {
    outline: none;
  }
}

.introPanel {
  display: flex;
  &>div {
    flex: 1;
  }
}