.builderTable {
    padding-bottom: 15px;

    .builderRow:first-child .indentCol {
        visibility: hidden;
    }

    &>div:nth-child(odd) {
        background-color: #f2f2f2;
    }
}

.builderRow {
    display: flex;

    div {
        flex: 1;
        padding: 3px;
    }

    .colDropdown {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    .indentCol {
        flex: 0 0 auto;
        margin-right: 20px;
    }

    .formatCol {
        flex: 1;
        input {
            width: 100%;
        }
        margin-right: 20px;
    }

    .deleteRow {
        flex: 0 0 30px;
    }
}

.invalidRow {
    font-style: italic;
    color: #990000;
}

.builderSettings > div {
    display: flex;
    line-height: 30px;

    .settingsCol1 {
        flex: 0 0 150px;
    }

    label {
        margin-right: 10px;
    }
}