body {
    font-family: "verdana", sans-serif;
    line-height: 22px;
    padding: 20px;
}

.app {
    width: 1000px;
    margin: auto;
}

footer {
    margin-top: 20px;
}

div, span, select, option, p, body, label {
    font-size: 12px;
}
