.displayPanel {
    margin-top: 10px;
    border: 2px dotted #cccccc;
    background-color: #fcfcff;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
    line-height: 26px;
    font-size: 14px;
    &>* {
        font-size: inherit;
    }

    &.textFormat, &.rtfFormat {
        white-space: pre-wrap;
    }
}

.autoUpdatePanel {
    float: right;

    label {
        margin-right: 8px;
    }

    &.disabled {
        label {
            color: #999999;
        }
    }
}